.style0,
.style1,
.style2 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: 1.25em;
  margin-left: 16px;
  margin-top: 12px;
  height: 24px
}
.style3,
.style4 {
  font-family: BalsamiqSans,serif;
  font-size: .5em;
  margin-left: 210px;
  margin-top: 0;
  height: 10px
}
.style4 {
  text-align: center;
  font-size: 1.25em;
  margin-left: 16px;
  margin-top: 12px;
  height: 24px
}
.style5 {
  font-size: .5em;
  margin-left: 210px;
  margin-top: 0;
  height: 10px
}
.style5,
.style6,
.style7,
.style8 {
  font-family: BalsamiqSans,serif
}
.style6 {
  text-align: center;
  font-size: 1.25em;
  margin-left: 16px;
  margin-top: 12px;
  height: 24px
}
.style7,
.style8 {
  font-size: .5em;
  margin-left: 210px;
  margin-top: 0;
  height: 10px
}
.style8 {
  text-align: center;
  font-size: 1.25em;
  margin-left: 16px;
  margin-top: 12px;
  height: 24px
}
.style10,
.style11,
.style9 {
  font-family: BalsamiqSans,serif;
  font-size: .5em;
  margin-left: 210px;
  margin-top: 0;
  height: 10px
}
.style10,
.style11 {
  text-align: center;
  font-size: 1.25em;
  margin-left: 16px;
  margin-top: 12px;
  height: 24px
}
.style12 {
  font-size: .5em;
  margin-left: 210px;
  margin-top: 0;
  height: 10px
}
.style12,
.style13,
.style14 {
  font-family: BalsamiqSans,serif
}
.style13 {
  text-align: center;
  font-size: 1.25em;
  margin-left: 16px;
  margin-top: 12px;
  height: 24px
}
.style14 {
  font-size: .5em;
  margin-left: 210px;
  margin-top: 0;
  height: 10px
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 375px
}
.style15,
.style16 {
  font-family: BalsamiqSans,serif
}
.style15 {
  text-align: center;
  font-size: 1.25em;
  margin-left: 16px;
  margin-top: 12px;
  height: 24px
}
.style16 {
  font-size: .5em;
  margin-left: 210px;
  margin-top: 0;
  height: 10px
}